<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <title>{{ page.title }}</title>
   <meta name="author" content="Jesse Hallett" />

   <!-- OpenID delegation -->
   <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=hallettj.myopenid.com" />
   <link rel="openid.server" href="http://www.myopenid.com/server" />
   <link rel="openid.delegate me" href="http://hallettj.myopenid.com/" />
   <link rel="openid2.local_id" href="http://hallettj.myopenid.com/" />
   <link rel="openid2.provider" href="http://www.myopenid.com/server" />

   <link href="http://feeds.feedburner.com/sitrus" rel="alternate" title="blog.sitr.us" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">blog.sitr.us</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jesse Hallett<br />
        <a href="mailto:jesse@sitr.us">jesse@sitr.us</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/hallettj/">github.com/hallettj</a><br />
        <a href="http://twitter.com/hallettj/">twitter.com/hallettj</a><br />
        <a href="http://identi.ca/hallettj/">identi.ca/hallettj</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/sitr.us">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/hallettj"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
