---
layout: default
---
<article pubdate="{{ page.date | date_to_xmlschema }}">
  {{ content }}
  
  <aside class="related">
    <header>
      <h2>Related Tumbles</h2>
    </header>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        {% if post.type == "tumble" %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>
  
  <section id="disqus_thread" class="comments"></section>
  <script type="text/javascript" src="http://disqus.com/forums/hallettj/embed.js"></script>
  <noscript>
    <a href="http://hallettj.disqus.com/?url=ref">View the discussion thread.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  
  <script type="text/javascript">
  //<![CDATA[
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/hallettj/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
  </script>
</article>
