// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Table of Contents
#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  float: right;
  @include shadow-box;
  background-color: white;
  margin: 1em;
  margin-bottom: 0.75em;
}
.blog-index #markdown-toc {
  display: none;
}

// Tables
* + table {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  margin-bottom: 1.5em;
}

* + table th, * + table td {
  border-style: dashed;
  border-width: 1px;
  border-color: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}

// Translation aside
aside.translations {
  font-style: italic;
}

code {font-size: 120%; }
pre { tab-size: 4; }
.highlight code { line-height: 1.2em; }
p code, li code { font-size: 85%; }
